// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.main-container {
    width: 1500px;
    margin: 0 auto;
}

.width-1200 {
    width: 1200px;
    margin: 0 auto;
}

.main-container {
    width: 1500px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.small-container {
    width: 750px;
    margin: 0 auto;
}

.red-button {
    background-color: #e1a2a2;
    color: #fffdfd;
    border: #e1a2a2;

}

.bright-red-button {
    background-color: #F44336;
    color: white;
    border-color: #F44336;
    border-radius: 0 4px 4px 0;
}

.bright-red-button:hover {
    text-decoration: none;
    background-color: #c53a3e;
    box-shadow: rgba(58, 53, 65, 0.56) 0 6px 18px -8px;
    color: white;
}

.bright-green-button {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
    border-radius: 4px 0 0 4px;
}

.bright-orange-button {
    background-color: #c70;
    color: white;
    border-color: #aaaaaa;
    border-radius: 0 4px 4px 0;
}

.bright-orange-button:hover {
    background-color: #a50;
    color: white;
    border-color: #888888;
    border-radius: 0 4px 4px 0;
}

.ml-40px {
    margin-left: 40px;
}

.mr-5 {
    margin-right: 5px;
}

.bright-green-button:hover {
    text-decoration: none;
    background-color: #45930a;
    box-shadow: rgba(58, 53, 65, 0.56) 0 6px 18px -8px;
    color: white;
}

.flex-grow-0_1 {
    flex-grow: 0.1;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-0_5 {
    flex-grow: 0.5;
}

.green-button {
    background-color: #c0e1a2;
    color: #fffdfd;
    border: #c0e1a2;
}

.purple-button {
    background-color: #9155FD;
    color: #fffdfd;
    border: #b4a2e1;
}
.border-purple {
    border:1px solid #69248d;
}

.blue-button {
    background-color: #a2cbd7;
    color: #fffdfd;
    border: #a2cbd7;
}

.yellow-button {
    background-color: #f5bb84;
    color: #fffdfd;
    border: #f5bb84;
}

.blue-color {
    background-color: #a2cbd7;
}

.mr_auto {
    margin-right: auto;
}

.no-outline-on-hover:focus {
    outline: none;
    box-shadow: none;
}

.h-37 {
    height: 37.2px;
}

.font-22 {
    font-size: 22px !important;
}

input::placeholder {
    color: #888585;
}

input {
    font-family: 'Times New Roman, serif', serif;
    font-size: 22px;
    background-color: #f8f9fa;
}

input:disabled {
    background-color: #f8f9fa;
}

input:disabled::placeholder {
    color: black;
}

select:disabled {
    background-color: #f8f9fa !important;
    color: black;
    border: none;
}

.no-box-shadow {
    box-shadow: none !important;
}

.invisible {
    display: none;
}

li {
    list-style: none;
    padding: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}


li:hover {
    background-color: #6495ED;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

li {
    outline: none;
}

li:active {
    background-color: #b4a2e1 !important;
}

button:hover {
    background-color: #74689d;
    color: white;
}


.name-block {
    width: 90px;
    height: 70px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}


.login {
    position: relative;
    background: url('../img/login_background.jpg') center center/cover no-repeat fixed;
    overflow: hidden;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.login-card {
    position: absolute;
    left: 850px;
    top: 200px;
}

.uppercase {
    text-transform: uppercase;
}

.btn-login {
    background-image: linear-gradient(90deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    background-size: 200% auto;
    background-position: 0 0;
    transition: transform 0.3s, background-color 0.3s;
}

.btn-login:hover {
    background-position: 100% 0;
    opacity: 50%;
    transition: 200ms
}

.btn-empty {
    background-color: white;
}


.btn-gradient-border {
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: linear-gradient(90deg, #4158d0 0%, #a050c8 46%, #e070ff 100%);
    cursor: pointer;
}

.btn-gradient-border::before {
    content: "";
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 4px;
    background-color: white;
    z-index: -1;
    transition: 200ms
}

.btn-gradient-border::after {
    content: "LOGIN";
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(90deg, #4158d0 0%, #a050c8 46%, #e070ff 100%);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms
}

.btn-gradient-border:hover::before {
    opacity: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn-gradient-border:hover::after {
    color: white;
}

.btn-navbar {
    border-radius: 0 15px 15px 0;
    transition: background-image 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
}

.btn-navbar:hover {
    box-shadow: 0 4px 8px -4px rgba(58, 53, 65, 0.42);
    background-image: linear-gradient(98deg, #C6A7FE, #9155FD 94%);
    transform: scale(1.1);
}

.btn-navbar:hover .nav-link {
    color: white !important;
    text-transform: uppercase;
    transition: color 0.1s ease;
}

.btn-navbar {
    position: relative;
    overflow: hidden;
}

.room-info {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.border-with-shadow {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasks-section {
    text-align: center;
}

.room-info ul {
    list-style-type: none;
    padding: 0;
}

.room-info li {
    margin-bottom: 8px;
}

.done-icon {
    width: 50px;
    height: 50px;
}

.li-task {
    border: 1px solid #ccc;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.li-task:hover {
    background-color: transparent;

}

.btn-task {
    background-color: rgb(160, 119, 234);
    border-radius: 8px;
    border-color: rgb(160, 119, 234);
    color: white;
}

.btn-task:hover {
    text-decoration: none;
    background-color: rgb(128, 75, 223);
    border-color: rgb(160, 119, 234);
    box-shadow: rgba(58, 53, 65, 0.56) 0 6px 18px -8px;
    color: white;
}

.btn-purple-angle {
    background-color: rgb(160, 119, 234);
    color: white;
    border-radius:  0 8px 8px 0;
    border-color: rgb(160, 119, 234);
}

.btn-purple-angle:hover {
    text-decoration: none;
    background-color: rgb(128, 75, 223);
    box-shadow: rgba(58, 53, 65, 0.56) 0 6px 18px -8px;
    color: white;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: gray;
    //appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::placeholder {
    color: gray;
}


.form-control:focus {
    //color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: 1px solid #ccc;
    outline: 0;
}

.form-control:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trophy-block {
    position: relative;
    border: 1px solid #ccc;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-bold {
    font-weight: bold;
    font-size: 17px;
}

.text-bold-purple {
    color: rgb(128, 75, 223);
    font-weight: bold;
}

.justify-self-center {
    justify-self: center;
}

.text-purple {
    color: rgb(128, 75, 223);
}
.text-red {
    color: #c53a3e;
}

.text-gray {
    color: #949494;
}
.text-green {
    color: #4CAF50;
}

.trophy {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 35px;
}

.photo-size {
    height: 230px;
    width: 350px;
}

.photo-edit-booking {
    height: 165px;
    width: 255px;
}

.purple-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #ffffff;
    text-transform: uppercase;
    appearance: none;
    background-color: rgb(213, 211, 217);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.guest_inf {
    display: flex;
    flex-direction: column;
    border: 1px solid #9155FD;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

.guest_inf:hover {
    transform: scale(1.1);
    transition: background-image 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
}

.purple-input:focus {
    outline: none;
    border: none;
}

.purple-input::placeholder {
    color: #f3f1f1;
}

.purple-datepicker {
    .today {
        background-color: rgb(160, 119, 234);
        color: #f3f1f1;
    }

    .today:hover {
        background-color: #C6A7FE;
    }

    .react-datepicker__day--selected {
        background-color: rgb(160, 119, 234);
        border-color: rgb(160, 119, 234);
        color: white;
    }

    .react-datepicker__navigation--previous,
    .react-datepicker__navigation--next {
        border-color: rgb(160, 119, 234);
        color: white;
    }

    .react-datepicker__navigation:hover {
        background-color: transparent;
        border-color: rgb(160, 119, 234);
        color: white;
    }
}

.grey-color {
    color: #f3f1f1;
}

.custom-option:checked:hover {
    background-color: white !important;
}

.option:hover {
    background-color: red !important;
}

.info-block {
    position: relative;
}

.hammer {
    position: absolute;
    width: 30px;
    right: 20px;
}

.purple-background {
    box-shadow: 0 4px 8px -4px rgba(58, 53, 65, 0.42);
    background-image: linear-gradient(98deg, #C6A7FE, #9155FD 94%);
}

.btn-gradient-background {
    opacity: 50%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #4158d0 0%, #a050c8 46%, #e070ff 100%);
    cursor: pointer;
}

//
.gray-input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    color: black;
    appearance: none;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.gray-input:focus {
    box-shadow: 0 4px 8px -4px rgba(58, 53, 65, 0.42);
    background-color: rgba(176, 176, 176, 0.42);
    outline: none;
    border: none;
}

.gray-input::placeholder {
    color: gray;
}

.btn-add {
    box-shadow: rgba(58, 53, 65, 0.56) 1px 2px 4px 0;
    transition: background-image 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
}

.btn-add:hover {
    background-image: linear-gradient(98deg, #C6A7FE, #9155FD 94%);
    box-shadow: rgba(58, 53, 65, 0.56) 0 6px 18px -8px;
    color: white;
    transform: scale(1.1);
}
.task-box {
    border-right: 1px solid #bfbfbf;
    padding-right: 50px;
}

.progress-box {
    border-right: 1px solid #bfbfbf;
    padding-right: 20px;
}

.btn-add:hover .link {
    color: white !important;
}

.rating-area {
    display: block;
    //overflow: hidden;
    margin: 30px auto;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 30px;
    cursor: pointer;
    font-size: 30px;
    line-height: 30px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.star {
    margin-right: 300px;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: #9155FD;
    text-shadow: 1px 1px #4158d0;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: #C6A7FE;
}

.btn-empty {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card-room {
    position: relative;
    box-shadow: rgba(58, 53, 65, 0.56) 0 6px 18px -8px;
    transition: transform 0.4s ease;
}

.card-room:hover {
    transform: scale(1.1);
}

.room-block {
    position: absolute;
    background: white;
    z-index: 1;
}

.no-outline-on-active:focus {
    outline: none;
    border: none;
}

.input-guest-amount {
    position: relative;
}

.block-guest-amount {
    opacity: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 48px;
    left: -64px;
    color: black !important;
}



.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: #e070ff;
    text-shadow: 1px 1px #a050c8;
}


.rate-area > label:active {
    position: relative;
}

.textarea-guest-feedback {
    width: 300px;
    height: 100px;
    line-height: 150%;
    margin: 10px 0;
    padding: 9px;
    border: 1px solid #9155FD;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.textarea-guest-feedback:hover {
    border-color: #C6A7FE;
}

.submit-guest-feedback {
    width: auto;
    border: 1px solid #9155FD;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.submit-guest-feedback:hover {
    border: none;
    color: white;
    text-transform: uppercase;
}

.border-without-shadow {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn-border-purple {
    border: 2px solid #9155FD;
    border-radius: 8px;
    transition: transform 0.4s ease;
}


.btn-border-purple:hover {
    border: 2px solid #9155FD;
    transform: scale(1.1);
}

.btn-border-purple-angle {
    border: 2px solid #9155FD;
    border-radius: 8px 0 0 8px;
    transition: transform 0.4s ease;
}


.btn-border-purple-angle:hover {
    border: 2px solid #9155FD;
    transform: scale(1.1);
}

.requests-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.requests-form-group {
    margin-bottom: 20px;
}


.requests-form-group select {
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    width: 100%;
}

.requests-form-group textarea {
    outline: none;
}

.request-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


.request-textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}


.check-in-nav {
    height: 50px;
}

.innactive-check-in {
    background-color: #FFFFFF;
    color: #aaaaaa;
    border-color: #aaaaaa;
    border-radius: 4px 0 0 4px;
}

//button {
//    background-color: #4caf50;
//    color: white;
//    padding: 10px 15px;
//    border: none;
//    border-radius: 4px;
//    cursor: pointer;
//}
//
//button:hover {
//    background-color: #45a049;
//}

.add-scroll {
    max-height: 230px;
    overflow-y: auto;
}

.dropdown-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Белый цвет с 50% прозрачности */
    z-index: 1000; /* Установите z-index так, чтобы ваш фон находился под модальным окном */
}

//.accordion-content {
//    max-height: 0;
//    overflow: hidden;
//    transition: max-height 0.6s ease-in-out; /* Настройте длительность и кривую перехода по своему усмотрению */
//}
//
///* Установите максимальную высоту только для активных элементов */
//.accordion-content + .active {
//    max-height: 500px; /* Задайте значение в пикселях или других единицах измерения */
//}

.block-info-parent {
    position: relative;
}

.block-info-child {
    position: absolute;
    z-index: 1;
}
