// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.main-container {
    width: 1500px;
    margin: 0 auto;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

.red-button {
    background-color: #e1a2a2;
    color: #fffdfd;
    border: #e1a2a2;

}

.green-button {
    background-color: #c0e1a2;
    color: #fffdfd;
    border: #c0e1a2;
}

.blue-color {
    background-color: #a2cbd7;
}


.mr_auto {
    margin-right: auto;
}

.no-outline-on-hover:focus {
    outline: none;
    box-shadow: none;
}

.h-37 {
    height: 37.2px;
}
.font-22 {
    font-size: 22px;
}

input::placeholder {
    color: #888585;
}

input {
    font-family: 'Times New Roman, serif', serif;
    font-size: 22px;
    background-color: #f8f9fa;
}

input:disabled {
    background-color: #f8f9fa;
}

input:disabled::placeholder {
    color: black;
}

select:disabled {
    background-color: #f8f9fa !important;
    color: black;
    border: none;
}

.no-box-shadow {
    box-shadow: none !important;
}

.invisible {
    display: none;
}

// styles.scss
.label-container {
    position: relative;
    display: inline-block;

    label {
        position: absolute;

        transform: translateY(-50%);
        left: 30px;
        pointer-events: none;
        color: #000;
    }

    select {
        padding-left: 10px;
    }

    // Адаптивные стили для планшетов (например, ширина до 768px)
    @media (max-width: 768px) {
        display: block;

        label {
            position: relative;
            transform: none;
            left: 0;
            margin-bottom: 5px;
        }

        select {
            width: 100%;
            box-sizing: border-box;
        }
    }

    // Адаптивные стили для телефонов (например, ширина до 480px)
    @media (max-width: 480px) {
        label {
            font-size: 14px;
        }
    }
}




