// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.main-container {
    width: 1500px;
    margin: 0 auto;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

.small-container {
    width: 750px;
    margin: 0 auto;
}

.red-button {
    background-color: #e1a2a2;
    color: #fffdfd;
    border: #e1a2a2;

}

.green-button {
    background-color: #c0e1a2;
    color: #fffdfd;
    border: #c0e1a2;
}

.blue-button {
    background-color: #a2cbd7;
    color: #fffdfd;
    border: #a2cbd7;
}

.yellow-button {
    background-color: #f5bb84;
    color: #fffdfd;
    border: #f5bb84;
}

.blue-color {
    background-color: #a2cbd7;
}


.mr_auto {
    margin-right: auto;
}

.no-outline-on-hover:focus {
    outline: none;
    box-shadow: none;
}

.h-37 {
    height: 37.2px;
}
.font-22 {
    font-size: 22px;
}

input::placeholder {
    color: #888585;
}

input {
    font-family: 'Times New Roman, serif', serif;
    font-size: 22px;
    background-color: #f8f9fa;
}

input:disabled {
    background-color: #f8f9fa;
}

input:disabled::placeholder {
    color: black;
}

select:disabled {
    background-color: #f8f9fa !important;
    color: black;
    border: none;
}

.no-box-shadow {
    box-shadow: none !important;
}

.invisible {
    display: none;
}

li {
    /* Добавьте общие стили для ваших элементов li */
    list-style: none; /* Убрать маркеры списка, если они есть */
    padding: 10px; /* Пример общего отступа */
    transition: background-color 0.3s, box-shadow 0.3s;
    /* Дополнительные общие стили... */
}

/* Стиль при hover */
li:hover {
    background-color: #6495ED; /* Грязно голубой цвет */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень */
    /* Дополнительные стили при hover... */
}







